@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-titulo:'Cherry Bomb One', cursive;
    --font-corpo:'Teko', sans-serif;


    --cor0:#00000069;
    --cor1: #ffffff;
    

}

body{
    background-color: cornflowerblue;
    
}


header{
    color: var(--cor1);
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    font-family: var(--font-titulo);
    letter-spacing: 3px;
}

section{
    background-color: var(--cor1);
    border-radius: 18px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px var(--cor0);

}

div{
    text-align: center;
    padding: 8px;
    font-family: var(--font-corpo);
    font-size: 30px;
}

footer{
    color: var(--cor1);
    text-align: center;
    font-family: var(--font-corpo);
    font-size: 30px;
    padding: 10px;
}